.Table {
    width: 100%;
    padding: 2em;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
}

table {
    width: 800px;
    border-collapse: collapse;
}

thead{
    background-color: rgba(0, 0, 0, 0.5);
}

tfoot{
    width: 100%;
}

tfoot button{
    width: 100%;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    transition-duration: 0.3s;
}

tfoot button:hover{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.3s;
}